<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Congratulations, <%= @award.employee_name %>!</h1>
  <p>
    <%= @award.granter.name %> has given you an award for <%= @award.award_type %>
  </p>
  <p>
    Open the attached PDF to view your award!
  </p>
  <p>
    Congratulations!
  </p>
</body>
</html>