<%= form_tag password_resets_path, :method => :post do %>
 <div class="jumbotron" align="center">
        <p class="lead">
      Your password will be sent to you via email!
    </p>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div><br>
  <div class="actions"><%= submit_tag "Reset Password", class: 'btn btn-success' %></div>
<% end %>