<%= stylesheet_link_tag "administration" %>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom" >
  <a class="navbar-brand">Employee Recognition Administration</a>
  <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">crap</a></p>
</nav>
<div class="container">
  <h2>Site Administration</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>Users</th>
        </tr>
        <tr>
          <td>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Admins
            <span class="caret"></span>
            </button>
            
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Non-Admins
            <span class="caret"></span>
            </button>
            
          </td>        </tr>
        </table>
      </div>
      <div class="col-md-4">What should we put here... hmmmmmmmmm?</div>
    </div>
    <p>What to do</p>
    <p>What to do</p>
    <p>What to do</p>
    <p>What to do</p>
  </div>