 <div class="jumbotron" align="center">
        <p class="lead">
   Welcome, 
          <% if current_user %>
          <%=h current_user.name %>
      	  <% end %>!
      	</p>
      	
<%= link_to 'Awards Center', '/awards', class: "btn btn-success" %>

</div>