<table width="100%" height="100%">
    <tbody>
        <tr>
            <td align ="center" valign = "middle">
                <div class="jumbotron" align="center">
                <div id="container">
                    <h1>Access denied</h1>
                    <br><br>
                    <div>
                        <p>Sorry, you don't have permissions to access the awards page</p>
                        <p>
                            Only regular users can work with awards<br>
                            Make a regular user account if you need access to awards
                        </p>
                    </div>
                </div>
                
            </td>
        </tr>
    </tbody>
</table>
