<% if current_user %>
  <% if current_user.role_type == "admin" %>
   <script type="text/javascript">
    window.location.href="/accessdenied"  
  </script>
<% end %> 
<% end %> 
<%= render 'form', award: @award %>
<%= link_to 'Show', @award %> 
<%= link_to 'Back', awards_path %><br><br><br>
<h1 align="center">Editing Award</h1>
<br>
