// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//fix navbar overlap
body {
    padding-top: 65px;
}

.navbar{
	background-color: #188072;
	color: #ffffff;
  	border-radius:0;
    margin-bottom: 0;

}


.navbar-default .navbar-brand {
    color: #d6d6d6;
}

//styling for tables on admin interface




.buttonsize {
	width: 250px;
}



.container-0{
	display:flex;
	background-color: #84e9ed;
	height: 35px;
	justify-content: center;
    align-items: center;

}

.box-0{
  	flex: 1 1 50%;
  	padding: 1em;


}

.container-1{
	display: flex;
		justify-content: flex-end;

}

.container-1 div {
	//border: 1px #ccc solid;
	padding: 15px;
}

.box-1 {
	flex:2;
}

.box-2{
	flex:1;
}

.box-3 {
	flex:1;
}

.editbutton{

}



table td {
}
