// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
    font-size: 20px;
    padding: 10px 20px;
    cursor: default;
    -webkit-transition: padding-left 400ms ease; 
       -moz-transition: padding-left 400ms ease; 
         -o-transition: padding-left 400ms ease; 
        -ms-transition: padding-left 400ms ease; 
}

li:hover {
    padding-left: 40px;
}